.header{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 12px 0 rgb(0 0 0 / 12%);
}

.header ul li{
    padding: 3px 10px;
    margin: 0 5px;
    transition: all .5s;
    border-radius: 20px;
}
.header ul li a,
.header__login a,
.header__register a{
    color:#333333;
}
.header ul li:hover
{
    background: rgba(249, 25, 66, .06);
}
.header ul li:hover a {
    
    color: #f91942;
}
.header__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__right i{
    padding-right: 5px;
}
.header__login{
    margin-right: 15px;
}
.header__login:hover a ,
.header__register:hover a{
    color: #f91942;
}
.header__logout:hover{
    color: #f91942;
}
@media screen and (max-width:992px){
    .header__right{
        justify-content: space-evenly;
    }
    .header ul {
        text-align: center;
    }
}
